div.window {
  box-shadow: 0 .5em .75em -.15em #0008;
  @apply pt-[42px] border-2 border-t border-stone-600 mx-4 bg-stone-700 rounded-md border-t-stone-500
}

div.window::before {
  @apply content-empty bg-metacity block absolute w-[90px] m-[3px] -mt-[38px] h-[22px]
}

div.term,
div.output {
  @apply break-all p-1 text-stone-200 -mt-[.7rem] text-left bg-black font-mono leading-5 rounded-b-md
}

div.term::before {
  content: "user@PC:~$ ";
  @apply text-lime-600 font-bold
}

div.locate {
  @apply font-mono flex m-1 ml-[132px] bg-stone-600 !text-white rounded-md px-1 mt-4 overflow-auto whitespace-nowrap outline-2 outline-bronze-500 hover:outline hover:bg-stone-800;
}

div.locate::after {
  word-spacing: .5rem;
  content: "Dosya Düzen Görünüm Git Araçlar Yardım";
  width: calc(100% - 5rem);
  @apply !text-stone-200 absolute block font-sans -ml-[130px] pr-3 -mt-8 truncate
}

div.locate::before {
  @apply content-locate absolute inline-block -ml-[139px]
}

div.window:hover::after {
  content: "Üç kere tıklayarak tüm satırı seçebilirsiniz.";
  @apply text-stone-200 bg-stone-900 absolute mt-1 rounded-md px-1 bg-opacity-50 backdrop-blur-sm border border-bronze-500;
}